.footer{
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
    list-style: none;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;

}
.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}

#l1:hover{
    color: #1099cf
}
#l2:hover{
    color: #d015e5
}
#l3:hover{
    color: #0b72e1
}